html, body {
  margin: 0;
  padding: 0;
  background-color: #ffdf80;
}
canvas {
  display: block;
}


p {
  font-family: verdana;
  font-size: 20px;
}

h1 {
  font-family: verdana;
  font-size: 20px;
}

h1 {
  border-style: dotted;
  border-width: 2px;
}
h1 {
  text-align: center;
}

p {  text-align: center;
}

sketch.js { text-align: center;
}


