html, body {
  margin: 0;
  padding: 0;
  backgroundcolor: lightblue;
}
canvas {
  display: block;
}


p {
  font-family: verdana;
  font-size: 20px;
}

h1 {
  font-family: verdana;
  font-size: 20px;
}
